	<!-- FOOTER -->
	<div id="fa">
		<div class="container">
			<div class="row centered">
				<a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
				<a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
				<a href="http://instagram.com/"><i class="fa fa-instagram"></i></a>

				<p>Proudly built using <a href="http://www.getsubscribely.com/">Subscribely</a>
		
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- Footer -->


	<!-- MODAL FOR CONTACT -->
	<!-- Modal -->
	<div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="myModalLabel">Contact Us</h4>
	      </div>
	      <div class="modal-body">
		        <div class="row centered">
		        	<p>Questions or feedback? Let us know!</p>
		        	<p>		        		
						dwoodworth34@gmail.com<br>
						(415) 355-4157 
		        	</p>
		        </div>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/smooth-scroll.js"></script>
    <script type="text/javascript" src="/javascripts/checkout.js"></script>   
    <script src="/javascripts/jquery.payment.js"></script>
  </body>
</html>
