<%= include /layouts/header.ejs %>

<!-- 	<div class="container main-content">
      <div class="row centered">	        	       	 
	      <h1>Company name</h1>
	      <h2>Your tagline, delivered monthly.</h2>
	      <div class="cta-btn">
	      	<a class="btn btn-warning btn-lg" href="/checkout">Get Started</a>
      	  </div>
	      
      </div>

	</div> --><!-- container -->

<div class="container main-content">
	<div class="row">
		<div class="col-lg-8">
			<img class="img-responsive img-rounded" src="http://placehold.it/900x350"><!-- take out img-rounded if you don't want the rounded corners on the image -->
		</div>
		<div class="col-lg-4">
			<h1>[babyBox]</h1>
			<p>Amazing Product for Mothers</p>
			<a class="btn btn-info btn-lg" href="/checkout">Get Started</a>
		</div>
	</div>
</div>

	


<div class="learn-more">
	<a class="scroll" data-easing="easeInOutGentle"  href="#main">	
		<p>Learn more &nbsp<i class="fa fa-angle-down"></i></p>	
	</a>
	
</div>

	

	<div class="line col-sm-4 col-sm-offset-4"></div>

	<div class="container wa" id="main">
		<div class="row centered">
			<div class="col-md-4">
				<i class="fa fa-thumbs-up"></i>
				<h4>CURATED</h4>
				<p>Sample only the best products that have been <br>tried, tested and approved by our moms.</p>
			</div><!-- col-lg-4 -->

			<div class="col-md-4">
				<i class="fa fa-heart"></i>
				<h4>EXPLORATION</h4>
				<p>Discover products you'll love <br>from our monthly selection.</p>
			</div><!-- col-lg-4 -->

			<div class="col-md-4">
				<i class="fa fa-gift"></i>
				<h4>DELIVERED</h4>
				<p>Ready to treat yourself with a monthly gift? <br><strong><a href="/checkout">Start now</a></strong> only $19/month.</p>
			</div><!-- col-lg-4 -->
		</div><!-- row -->
		<br>
	</div><!-- container -->

	<div class="line col-sm-4 col-sm-offset-4"></div>

	<!-- PORTFOLIO SECTION -->
	<!-- 
		<div id="dga">
		<div class="container">
			<div class="row centered">
				<h4>SAMPLINGS FROM LAST MONTH'S BOX</h4>
				<br>
				<div class="col-md-4">
					<img class="img-responsive img-rounded" src="http://placehold.it/300x325">
				</div>

				<div class="col-md-4">
					<img class="img-responsive img-rounded" src="http://placehold.it/300x325">
				</div>

				<div class="col-md-4">
					<img class="img-responsive img-rounded" src="http://placehold.it/300x325">				
				</div>
			</div><!-- row -->
		</div><!-- container -->
		</div><!-- DG -->


	<!--
	<div class="line col-sm-4 col-sm-offset-4"></div>

	<div class="container wa">
		<div class="row centered">
			<br>				
			<H4>CUSTOMERS TESTIMONIALS</H4>
			<br>
			<div class="col-md-4">
				<p><em>"I love all the natural products I get in my monthly beauty box. They really keep my sensitive skin bright and snow white!"</em></p>
				<h4>- Snow W. from Dwarve's Cottage</h4>
			</div><!-- col-lg-4 -->

			<!-- 
				<div class="col-md-4">
				<p><em>"Amazing!... I love my monthly cleaning service through Subscribely. The castle is spic-and-span and I don't have to lift a finger." </em></p>
				<h4>- Cinderell A. from Castle</h4>
			</div><!-- col-lg-4 -->

			<!-- 
				<div class="col-md-4">
				<p><em>"I can't get enough of my monthly book subscription! Every selection has me at the edge of my seat...I usually finish the day I get it!"</em></p>
				<h4>- Bell E. from Beast Residence</h4>
			</div><!-- col-lg-4 -->

		
		</div><!-- row -->
		<!--
		<br>
		<br>		
	</div><!-- container -->


	<!--
	<div class="line col-sm-4 col-sm-offset-4"></div>
	-->
	<div id="ra">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">

					<h4>ABOUT [BABYBOX]</h4>
                    <p>Becoming a mother is awesome and challenging, we know we've been there. Filtering through all the product noise can be overwhelming. Our team of mothers have select the best products so you can conveniently try with our monthly boxes. Treat yourself with [babyBox] to find the products you and your baby will love.</p>

				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><! -- r wrap -->

	<div class="line col-sm-4 col-sm-offset-4"></div>	


	
<%= include /layouts/footer.ejs %>