body {
  background-color: #FFFFFF;
  margin-top: 0;
}
/* Links */
a {
  color: #333;
  word-wrap: break-word;
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}
a:hover,
a:focus {
  color: #333;
  text-decoration: underline;
  /*outline: 0;*/
}
a:before,
a:after {
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/* White Header Wrap */
#dga {
  background: #FFFFF;
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
}
#dga h4 {
  font-weight: 700;
}
/* White Wrap */
#ra {
  background: #FFFFF;
  padding-top: 35px;
  padding-bottom: 35px;
}
#ra h4 {
  color: #333;
  font-weight: 700;
}
#ra p {
  color: black;
}
/* Footer Wrap */
#fa {
  background: #FFFFFF;
  padding-top: 30px;
  padding-bottom: 30px;
}
#fa i {
  color: #bdbdbd;
  font-size: 30px;
  padding: 20px;
}
#fa i:hover {
  color: #4169E1;
}
.wa {
  padding-top: 35px;
}
.wa h4 {
  font-weight: 700;
}
.wa i {
  color: #4169E1;
  font-size: 60px;
}
/* Reset Done */
.navbar-default {
  background-color: transparent;
  border: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
#nav {
  margin-right: 5%;
}
body a:hover {
  text-decoration: underline;
}
.navbar .nav li a {
  color: #333;
  font-weight: normal;
}
.navbar .nav li a:hover {
  text-decoration: underline;
  color: #333;
}
.main-content {
  padding-top: 10%;
  min-height: 500px;
}
.main-content h1 {
  font-size: 42px;
}
.main-content h2 {
  font-size: 18px;
}
.main-content .cta-btn {
  margin: 5%;
}
.btn-lg {
  padding: 14px 38px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.33;
  border-radius: 6px;
}
.learn-more {
  text-align: center;
}
.centered {
  text-align: center;
}
.line {
  border-bottom: solid #e3e3e3 1px;
}
/******************* Checkout *************/
.checkout-container {
  background-color: #FFFFFF;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  border: 1px solid #b5b5b5;
  max-width: 900px;
  margin-bottom: 5%;
  margin-top: 1%;
  padding: 0 5% 5% 5%;
}
.checkout-container h2 {
  font-size: 24px;
}
.checkout-container .header-img {
  margin-bottom: 7%;
}
.checkout-container .checkout-title {
  margin: 5% 0;
}
.checkout-container .checkout-title h1,
.checkout-container .checkout-title h2,
.checkout-container .checkout-title h3 {
  text-align: center;
}
.checkout-section .bill {
  margin-top: 1%;
  margin-bottom: 2%;
  font-weight: 400;
}
.checkout-btn {
  margin-top: 3%;
  text-align: center;
}
.checkout-btn .btn-lg {
  padding: 15px 65px;
}
.thankyou {
  margin-top: 15%;
}
.payment-form-thankyou {
  margin-top: 5%;
}
